/*****************************************
GLOBAL STYLES
*****************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* global variables */
:root {
    --primary-color: rgb(79, 70, 229);
    --primary-black: rgb(17, 24, 39);
    --primary-white: rgba(232, 234, 237);
    --primary-dark-gray: rgb(107, 114, 128);
    --primary-light-gray: rgb(229, 231, 235);
}

/* hide scroll bar, but still scrollable */
::-webkit-scrollbar {
    display: none;
    overflow-y: scroll;
}

/*****************************************
GOOGLE SEARCH BAR
*****************************************/

/* div to hold our google search bar */
.inputWrapper {
    width: 70%;
    height: 50px;
    margin: 2rem auto;

    display: flex;
    align-items: center;
    border-radius: 50px;
    background-color: var(--primary-dark-gray);
    border: solid red 3px;
}

/* left side favicon */
i {
    padding: 0 1.6rem;
    color: var(--primary-light-gray);
}

/********** form and button **********/

/* grow form width to far right  */
.inputWrapper .formContainer {
    flex-grow: 1;
}

/* remove form defaults */
.inputWrapper form {
    outline: none;
    appearance: none;
    box-shadow: none;
    border: none;
}

/* style the form */
.inputWrapper form {
    display: flex;
    height: 50px;
    border-radius: 50px;
    /* background-color: var(--primary-dark-gray); */
    background-color: chocolate;
}

/* input should fill center */
.inputWrapper input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;

    color: var(--primary-white);
    background-color: var(--primary-dark-gray);
    background-color: green;
}

button {
    background-color: var(--primary-dark-gray);
    border-radius: 50px;
    padding: none;
    margin: none;
    text-decoration: none;
    text-align: center;
}

input,
button,
submit {
    border: none;
}

.inputWrapper form button i {
    padding: 0 1.6rem;
    color: var(--primary-light-gray);
}

/* .inputWrapper form span {
    display: block;
}

.inputWrapper form button {
    float: right;
} */
/* <button style="display: inline-block;height: 50px; border-radius: 50px; box-shadow: none; cursor:pointer; border: none; "><i class="fab fa-google"></i></button> */

/* .inputWrapper span {
    background-color: var(--primary-dark-gray)
} */

/* .inputWrapper input:focus {
    outline: none;
    border: none;
    color: var(--primary-white);
}

.inputWrapper input::placeholder {
    font-size: 14px;
    font-weight: 300;
    padding-left: 5px;
    vertical-align: center;
    color: var(--primary-white);
    background-color: var(--primary-dark-gray);
}

 */

/*****************************************
CONTAINER AND HEADER
*****************************************/

/* responsive container */
.container {
    margin: 2rem auto;
    max-width: 768px;
}

/* style header in a div */
h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.02em;
}

h3 .highlight {
    color: var(--primary-color);
}

a {
    color: var(--primary-color);
}

a:hover {
    cursor: pointer;
}

/******************************
TITLE AND FLEX ROWS
******************************/

.title-row {
    background-color: var(--primary-light-gray);
    text-transform: uppercase;
    margin-top: 2rem;
    font-size: 0.9rem;
    padding: 0.75rem 1.25rem;
    color: var(--primary-dark-gray);
}

.flex-row {
    margin: 1.25em;
    display: flex; /* default is {flex-direction: row;} */
    justify-content: space-between; /* empty space pushes items to sides */
    align-items: flex-start; /* item margin edge sticks to top of flex container */
}

.flex-row h4 {
    color: var(--primary-black);
    font-weight: 700;
    padding-bottom: 4px;
}

.flex-row p {
    color: var(--primary-dark-gray);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3rem;
}

/* span wraps text by default */
.flex-row span {
    white-space: nowrap;
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 700;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 2.25rem;
}

/* lighten up the horizontal divider */
hr {
    background-color: var(--primary-light-gray);
    border: none;
    height: 1px;
}

/******************************
MEDIA QUERIES
******************************/

/* move time below text on small devices */
@media only screen and (max-width: 600px) {
    .flex-row {
        flex-wrap: wrap; /* (span) item that doesn't fit gets wrapped to next row */
    }

    .flex-row span {
        margin-left: auto; /* align time text to the right with auto margin */
        font-size: 1.2rem; /* reduce the font-size */
        padding-top: 0.3rem; /* reduce the top margin */
    }
}
